<h1>Welcome to Josa</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
<p>no idea what to do here</p>
